{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'flavours/_flavours.html.j2' as flavours_macros %}

{% set branches = {} %}
{% set all_items = [] %}
{% for branch in ['dev', 'main'] %}
{% do branches.update({
    branch: ('templates/flavours/%s/flavours.json' % branch) | json_loader(true, {})
}) %}
{% if branches[branch] %}{% for flav in branches.get(branch, {}).values() %}{% do flav.update({'repo_branch': branch}) %}{% do all_items.append(flav) %}{% endfor %}{% endif %}
{% endfor %}


{% block body %}
<h1>Available Flavours</h1>
<b>By branch:</b>
<ul>
{% for branch in branches.keys()|sort %}
  <li><a href="{{'flavours'|relpath_to}}/{{branch}}/index.html">{{branch}} branch</a>: {{branches[branch]|count}} Flavours</li>
{% endfor %}
</ul>
{% set format_strings = dict(flavours_macros.format_strings) %}
{% do format_strings.update({'name': '<a href="%s">{value}</a>' % ('flavours/{branch}/{value}.html' | relpath_to)}) %}
{% if all_items %}
{{ list_macros.overview_table(all_items, flavours_macros.overview_mappings, format_strings, src_dir=(''|currentpath()|dirname)) }}
{% else %}
<h2>Error: no Flavours found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
