{% from 'packages/_packages.html.j2' import pkg_link_fmt %}

{% set parent_path, package_name = (
    (''|currentpath()).rsplit('.html', 1)[0].rsplit('/', 1)
) %}

{% set field_mappings = ( {
    "Name": "name",
    "Description": "description",
    "Architecture": "arch",
    "Package": "package_name",
    "Sources": "package_path",
} ) %}
{% set overview_mappings = dict(field_mappings) %}
{% do overview_mappings.update({
    "Branch": "repo_branch",
}) %}

{% set repo_branch_fmt = '{ROOTDIR}/devices/{branch}' %}
{% set format_strings = ({
    "package_name": '<a href="%s">{value}</a>' % pkg_link_fmt,
    "package_path": '<a href="https://gitlab.com/kupfer/packages/pkgbuilds/-/tree/{branch}/{value}">{value}</a>',
    "repo_branch": '<a href="%s/index.html">{value}</a>' % repo_branch_fmt,
}) %}
