{% set field_mappings = ( {
    "Name": "NAME",
    "Base": "BASE",
    "Architecture": "ARCH",
    "Version": "VERSION",
    "Description": "DESC",
} ) %}
{% set overview_mappings = dict(field_mappings) %}
{% do overview_mappings.pop('Description') %}
{% do (overview_mappings.update({
    "Repo Arch": "repo_arch",
    "Repo": "repo_name",
    "Distro": "distro",
    "Branch": "repo_branch",
})) %}

{% set table_filters = ( {
    "Architecture": true,
    "Repo Arch": true,
    "Repo": true,
    "Distro": true,
    "Branch": true,
} ) %}

{% set detail_mappings = dict(field_mappings) %}
{% do (detail_mappings.update({
    "Provides": "PROVIDES",
    "Conflicts": "CONFLICTS",
    "Dependencies": "DEPENDS",
    "Make-Dependencies": "MAKEDEPENDS",
    "License": "LICENSE",
    "Size Compressed": "CSIZE",
    "Size Installed": "ISIZE",
    "Build Date": "BUILDDATE",
    "Packager": "PACKAGER",
    "MD5SUM": "MD5SUM",
    "SHA256SUM": "SHA256SUM",
    "Distro": "distro",
    "Repository": "repo_name",
})) %}

{% set repo_branch_fmt = '{ROOTDIR}/packages/{branch}' %}
{% set arch_link_fmt = repo_branch_fmt + '/{arch}' %}
{% set pkg_link_fmt = arch_link_fmt + '/packages/{value}.html' %}
{% set repo_link_fmt = arch_link_fmt + '/{value}' %}
{% set format_strings = ({
    "repo_name": '<a href="%s/index.html">{value}</a>' % repo_link_fmt,
    "repo_branch": '<a href="%s/index.html">{value}</a>' % repo_branch_fmt,
    "repo_arch": '<a href="%s/index.html">{value}</a>' % arch_link_fmt,
}) %}
{% set overview_format_strings = dict(format_strings) %}
{% do overview_format_strings.update({
    "NAME": '<a href="%s">{value}</a>' % pkg_link_fmt,
}) %}
{% set detail_format_strings = dict(format_strings) %}


{% import '_lists.html.j2' as list_macros %}
{%- macro overview_table(packages, branch, src_dir, mappings=overview_mappings) -%}
{{ list_macros.overview_table(packages,
mappings, overview_format_strings,
branch=branch, src_dir=src_dir,
enable_datatables=true, table_filters=table_filters
) }}
{%- endmacro -%}
